@using TegoareWeb.Models
@using TegoareWeb.ViewModels

@model PaginatedListViewModel<Lid>

@{
    ViewData["Title"] = "Alle leden";
}

<h1>Leden</h1>

@{ var soort = "Nieuw lid";}
<partial name="_SearchCreate" model="soort" />

<partial name="_NavigatorPaginatedList" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LidnaamSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Achter- en voornaam</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StraatnaamSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Straatnaam en -nummer</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GemeenteSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Postcode en gemeente</a>
            </th>
            <th>Telefoon</th>
            <th>E-mail</th>
            <th class="text-center">Aanpassen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Achternaam) @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Straatnaam) @Html.DisplayFor(modelItem => item.Straatnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode) @Html.DisplayFor(modelItem => item.Gemeente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefoon_vast)@(!String.IsNullOrEmpty(item.Telefoon_vast) ? Html.Raw("<br />") : "")@Html.DisplayFor(modelItem => item.Telefoon_GSM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="text-center tekst-groter">
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="btn btn-edit fa fa-wrench"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="btn btn-delete fa fa-times-circle"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    ViewData["FooterPaginatedList"] = true;
}
<partial name="_NavigatorPaginatedList" />