
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<p>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-pageSize="@Model.PageSize"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-dark @prevDisabled">
        Vorige
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-pageSize="@Model.PageSize"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-dark @nextDisabled">
        Volgende
    </a>
    Resultaten per:
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="1"
       asp-route-pageSize="10"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @(!(Model.PageSize == 10) ? "btn-outline-dark" : "btn-dark")">
        10
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="1"
       asp-route-pageSize="20"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @(!(Model.PageSize == 20) ? "btn-outline-dark" : "btn-dark")">
        20
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="1"
       asp-route-pageSize="50"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn @(!(Model.PageSize == 50) ? "btn-outline-dark" : "btn-dark")">
        50
    </a>
    Totaal aantal resultaten: @Model.TotalResults
</p>
