@using TegoareWeb.ViewModels
@model RelatiesViewModel

@{
    ViewData["Title"] = "Index";
}

@{
    int count = 0;
    char letter = '*';
    String soort = "Nieuwe relatie";
}

<h1>Relaties</h1>

<partial name="_SearchCreate" model="soort" />

@foreach (var lid in Model.Leden)
{
    @if (count % 4 == 0)
    {
        @Html.Raw("<div class=\"row\">")
        count = 0;
    }
    @if (!lid.Achternaam.ToUpper().StartsWith(letter))
    {
        letter = lid.Achternaam.ToCharArray()[0];
        count = 0;
        @Html.Raw("</div>")
        <hr />
        <h1 class="text-center">@letter</h1>
        <hr />
        @Html.Raw("<div class=\"row\">")
    }
    <a asp-controller="Leden" asp-action="Edit" asp-route-id="@lid.Id " class="card col-3 border-0 btn">
        <div class="card-body rel-card">
            <h5 class="card-title rel-card-title"><b>@lid.VolledigeNaam</b></h5>
            <p class="card-text">
                @{
                    var relaties1 = Model.Relaties.Where(r => r.Id_Lid1 == lid.Id || r.Id_Lid2 == lid.Id);
                }
                @foreach (var rel in relaties1)
                {
                <p>@rel.Lid1.VolledigeNaam  is @rel.Groep.Rol @(@rel.Lid2 != null ? " van " + @rel.Lid2.VolledigeNaam : "")</p>
            }
            </div>
        </a>

        @if (++count % 4 == 0)
        {
            @Html.Raw("</div>")
        }
    }