@model IEnumerable<TegoareWeb.Models.Relatie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lid1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Groep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lid2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lid1.VolledigeNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Groep.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lid2.VolledigeNaam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
