@using TegoareWeb.ViewModels
@using TegoareWeb.Data

@model InschrijvingViewModel

@{ ViewData["Title"] = "Verwijderen van inschrijvingen voor " + Model.Activiteit.ActiviteitendatumEnNaam; }

<h1>Verwijderen</h1>

<h3>Ben je zeker dat je deze inschrijvingen wilt verwijderen ?</h3>
<h4>Dit kan niet ongedaan gemaakt worden !</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Naam):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Naam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Activiteitendatum):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Activiteitendatum)
        </dd>
        <dt class="col-sm-3">
            Aantal inschrijvingen:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.AantalInschrijvingen)
        </dd>
    </dl>
</div>
<hr />
<h5>Zijn ingeschreven:</h5>
@{var ledenlist = new List<String>(); }
@foreach(var lid in Model.IngeschrevenLeden)
{
    ledenlist.Add(lid.VolledigeNaam);
}
<partial name="_ListLeden" model="ledenlist" />
<hr />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Activiteit" />
        <div class="form-group">
            <button class="btn btn-block btn-knop btn-delete" type="submit">
                <i class="fa fa-times-circle"></i> Verwijder alle inschrijvingen
            </button>
        </div>
    </form>
    <partial name="_GoTo" model="new KnopInfo()" />
</div>
