@using TegoareWeb.ViewModels
@using TegoareWeb.Data

@model InschrijvingViewModel

@{ ViewData["Title"] = "Details van inschrijving"; }

<h1>Volgende personen hebben hiervoor ingeschreven</h1>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Naam):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Naam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Activiteitendatum):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Activiteitendatum)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Beginuur):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Beginuur)
        </dd>
        @if (Model.Activiteit.Einduur != null)
        {
<dt class="col-sm-3">
    @Html.DisplayNameFor(model => model.Activiteit.Einduur):
</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Activiteit.Einduur)
                </dd>
}
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Ontmoetingsplaats):
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.Ontmoetingsplaats.Plaatsnaam)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Activiteit.Prijs):
        </dt>
        <dd class="col-sm-9">
            @(Model.Activiteit.Prijs != null ? @Html.DisplayFor(model => model.Activiteit.Prijs):"GRATIS")
        </dd>
        @if (Model.Activiteit.Publicatiedatum != null)
        {
<dt class="col-sm-3">
    @Html.DisplayNameFor(model => model.Activiteit.Publicatiedatum):
</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Activiteit.Publicatiedatum)
                </dd>
}
        @if (Model.Activiteit.Uiterste_inschrijfdatum != null)
        {
<dt class="col-sm-3">
    @Html.DisplayNameFor(model => model.Activiteit.Uiterste_inschrijfdatum):
</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Activiteit.Uiterste_inschrijfdatum)
                </dd>
}
        @if (Model.Activiteit.Max_inschrijvingen != null)
        {
<dt class="col-sm-3">
    @Html.DisplayNameFor(model => model.Activiteit.Max_inschrijvingen):
</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Activiteit.Max_inschrijvingen)
                </dd>
}
        <dt class="col-sm-3">
            Aantal inschrijvingen:
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Activiteit.AantalInschrijvingen)
        </dd>
    </dl>
</div>
<hr />
<h5>Zijn ingeschreven:</h5>
<partial name="_ListLeden" model="Model.IngeschrevenLeden.Select(l => l.VolledigeNaam).ToList()" />
<hr />
<div>
    <partial name="_GoTo" model="new KnopInfo()" />
</div>
