@using TegoareWeb.ViewModels
@using TegoareWeb.Data

@model InschrijvingViewModel

@{ ViewData["Title"] = "Aanpassen van inschrijving"; }

<h1>Inschrijving</h1>

<h4>
    @Model.Activiteit.Naam op @Model.Activiteit.Activiteitendatum.ToShortDateString() --
    Aantal inschrijvingen: @Model.Activiteit.AantalInschrijvingen --
    <a asp-controller="Activiteiten" asp-action="Edit" asp-route-id="@Model.Activiteit.Id">
        <i class="btn btn-edit fa fa-wrench"></i>
    </a>
</h4>
<hr />

<div class="row">
    <div class="col-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_Activiteit" />
            <div class="row">
                @foreach (Lid lid in Model.AlleLeden)
                {
                    var isChecked = false;
    @foreach (Lid ingeschrevenLid in Model.IngeschrevenLeden)
    {
        if (ingeschrevenLid.Id == lid.Id)
        {
            isChecked = true;
        }
    }
                    <div class="col-sm-3 checkbox">
                        <input type="checkbox" name="ledenlijst" value="@lid.Id" id="@lid.Id" @(isChecked ? "checked" : "") />
                        <label for="@lid.Id">@lid.VolledigeNaam</label>
                    </div>}
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-knop btn-save" type="submit">
                    <i class="fa fa-save"></i> Bewaar aanpassingen
                </button>
            </div>
        </form>
        <partial name="_GoTo" model="new KnopInfo()" />
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
