@using TegoareWeb.Models

@model IEnumerable<Activiteit>

@{
    ViewData["Title"] = "Alle inschrijvingen";
}

<h1>Inschrijvingen</h1>

@{
    var soort = "Eerste inschrijving";
    var isVoorbijeActiviteiten = false;
}

<partial name="_SearchCreate" model="soort" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activiteitendatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                Aantal inschrijvingen
            </th>
            <th class="text-center">Gegevens aanpassen<br />Ingeschreven leden bekijken</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="3" class="tekst-groter text-center font-weight-bold alert-info">
                KOMENDE ACTIVITEITEN
            </td>
        </tr>

        @foreach (var item in Model)
        {
            if (!isVoorbijeActiviteiten && item.Activiteitendatum < DateTime.Now)
            {
                isVoorbijeActiviteiten = true;

                <tr>
                    <td colspan="3" class="tekst-groter text-center font-weight-bold alert-warning">
                        VOORBIJE ACTIVITEITEN
                    </td>
                </tr>
            }
    <tr>
        <td class="alert @(isVoorbijeActiviteiten ? "alert-warning":"alert-info")">
            @Html.DisplayFor(modelItem => item.Activiteitendatum)
        </td>
        <td class="alert @(isVoorbijeActiviteiten ? "alert-warning":"alert-info")">
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td class="alert @(isVoorbijeActiviteiten ? "alert-warning":"alert-info")">
            @Html.DisplayFor(modelItem => item.AantalInschrijvingen)
        </td>
        <td class="text-center tekst-groter">
            @if (!isVoorbijeActiviteiten)
            {
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="btn btn-edit fa fa-wrench"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="btn btn-delete fa fa-times-circle"></i>
                    </a>
             }
            <a asp-action="Details" asp-route-id="@item.Id">
                <i class="btn btn-copy fa fa-info"></i>
            </a>
         </td>
        @*
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    *@
    </tr>
        }
    </tbody>
</table>
