@model TegoareWeb.Models.Activiteit

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activiteit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Publicatiedatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Publicatiedatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Uiterste_inschrijfdatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Uiterste_inschrijfdatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Max_inschrijvingen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Max_inschrijvingen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ontmoetingsplaats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ontmoetingsplaats.Plaatsnaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activiteitendatum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activiteitendatum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beginuur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beginuur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Einduur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Einduur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeelVanReeks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeelVanReeks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
