@using TegoareWeb.Models
@using TegoareWeb.ViewModels

@model PaginatedList<Activiteit>

@{
    ViewData["Title"] = "Index";
}

<h1>Activiteiten</h1>

@{ var soort = "Nieuwe activiteit";}
<partial name="_SearchCreate" model="soort" />

<partial name="_NavigatorPaginatedList" />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ActiviteitendatumSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Activiteitendatum</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NaamSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Naam</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OmschrijvingSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Omschrijving</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["OntmoetingsplaatsSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Ontmoetingsplaats</a>
            </th>
            <th>
                Beginuur
            </th>
            <th>
                Einduur
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PublicatiedatumSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Publicatiedatum</a>
            </th>
            <th class="text-center">Aanpassen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Activiteitendatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ontmoetingsplaats.Plaatsnaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beginuur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Einduur)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Publicatiedatum)
            </td>
            <td class="text-center tekst-groter">
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="btn btn-edit fa fa-wrench"></i>
                </a>
                @*
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                *@
            </td>
        </tr>
        }
    </tbody>
</table>

@{
    ViewData["FooterPaginatedList"] = true;
}
<partial name="_NavigatorPaginatedList" />