@using TegoareWeb.Models

@model Ontmoetingsplaats

@{ ViewData["Title"] = "Verwijderen van " + Model.Plaatsnaam; }

<h1>Verwijderen</h1>

<h3>Ben je zeker dat je deze ontmoetingsplaats wilt verwijderen ?</h3>
<h4>Dit kan niet ongedaan gemaakt worden !</h4>
<hr />
<div>
    <h4>Ontmoetingsplaats</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plaatsnaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plaatsnaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Straatnaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Straatnaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Straatnummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Straatnummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gemeente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gemeente)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
