@using TegoareWeb.Models

@model IEnumerable<Ontmoetingsplaats>

@{
    ViewData["Title"] = "Index";
}

<h1>Ontmoetingsplaatsen</h1>

@{ var soort = "Nieuwe ontmoetingsplaats";}
<partial name="_SearchCreate" model="soort" />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plaatsnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straatnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Straatnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gemeente)
            </th>
            <th class="text-center">Aanpassen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Plaatsnaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Straatnaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Straatnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gemeente)
                </td>
                <td class="text-center tekst-groter">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="btn btn-edit fa fa-wrench"></i>
                    </a>
                    @*
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>