@using TegoareWeb.Models

@model Groep

@{ ViewData["Title"] = "Verwijderen van " + Model.Rol; }

<h1>Verwijderen</h1>

<h3>Ben je zeker dat je deze groep wilt verwijderen ?</h3>
<h4>Dit kan niet ongedaan gemaakt worden !</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dubbele_Relatie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dubbele_Relatie)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
