@using TegoareWeb.Models

@model IEnumerable<Groep>

@{
    ViewData["Title"] = "Alle groepen";
}

<h1>Groepen</h1>

@{ var soort = "Nieuwe groep";}
<partial name="_SearchCreate" model="soort" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Dubbele_Relatie)
            </th>
            <th class="text-center">Aanpassen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td class="text-center">
                @if (item.Dubbele_Relatie)
                {
                    @Html.Raw("JA")
                }
                else
                {
                    @Html.Raw("NEEN")
                }
            </td>
            <td class="text-center tekst-groter">
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="btn btn-edit fa fa-wrench"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
